*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: min-content min-content repeat(4, max-content);
  grid-template-columns: [full-start] 10rem [center-start] repeat(3, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] 10rem [full-end]; }

.container-page {
  display: grid;
  grid-template-rows: 10rem repeat(2, max-content);
  grid-template-columns: [full-start] 10rem [center-start] repeat(3, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] 10rem [full-end]; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #222; }

.heading-primary {
  /* H2 */
  text-transform: uppercase;
  font-weight: 800;
  color: #eee;
  font-size: 5rem;
  /* font-family: Montserrat,sans-serif; */ }
  .heading-primary--black {
    text-transform: uppercase;
    font-weight: 800;
    color: #222;
    font-size: 5rem;
    /* font-family: Montserrat,sans-serif; */ }

.heading-primary-component {
  /* H3 */
  text-transform: uppercase;
  font-weight: 800;
  color: #eee;
  font-size: 4rem;
  /* font-family: Montserrat,sans-serif; */ }
  .heading-primary-component--black {
    text-transform: uppercase;
    font-weight: 800;
    color: #f02e1c;
    font-size: 3.5rem;
    /* font-family: Montserrat,sans-serif; */ }

.heading-secondary {
  padding-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #3b3b3b;
  font-size: 1.4rem;
  letter-spacing: .3rem;
  padding-bottom: 2rem; }

.heading-secondary-component {
  padding-top: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #9a9a9a;
  font-size: 1.6rem;
  padding-bottom: 2rem; }

.heading-tertiary {
  text-transform: uppercase;
  font-weight: bold;
  color: #3b3b3b;
  font-size: 1.4rem;
  letter-spacing: .3rem; }

.heading-paragraph {
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  font-size: 2.2rem; }

.paragraph {
  font-weight: 400;
  color: #222;
  font-size: 1.2rem; }

.heading-subtitle {
  display: inline-block;
  margin-top: 1rem; }

.underline {
  margin: 0 auto;
  width: 70px;
  background-color: red; }

.px-xs {
  padding: 0 .8rem; }

.px-sm {
  padding: 0 1.5rem; }

.px-md {
  padding: 0 2rem; }

.px-lg {
  padding: 0 2.75rem; }

.px-xl {
  padding: 0 3.5rem; }

.py-xs {
  padding: .8rem 0; }

.py-sm {
  padding: 1.5rem 0; }

.py-md {
  padding: 2rem 0; }

.py-lg {
  padding: 2.75rem 0; }

.py-xl {
  padding: 3.5rem 0; }

.my-xs {
  margin: .8rem 0; }

.my-sm {
  margin: 1.5rem 0; }

.my-md {
  margin: 2rem 0; }

.my-lg {
  margin: 2.75rem 0; }

.my-xl {
  margin: 3.5rem 0; }

.pt-xs {
  padding-top: .8rem; }

.pt-sm {
  padding-top: 1.5rem; }

.pt-md {
  padding-top: 2rem; }

.pt-lg {
  padding-top: 2.75rem; }

.pt-xl {
  padding-top: 3.5rem; }

.mb-xs {
  margin-bottom: .8rem; }

.mb-sm {
  margin-bottom: 1.5rem; }

.mb-md {
  margin-bottom: 2rem; }

.mb-lg {
  margin-bottom: 2.75rem; }

.mb-xl {
  margin-bottom: 5rem; }

.mt-xs {
  margin-top: .8rem; }

.mt-sm {
  margin-top: 1.5rem; }

.mt-md {
  margin-top: 2rem; }

.mt-lg {
  margin-top: 2.75rem; }

.mt-xl {
  margin-top: 3.5rem; }

.ta-l {
  text-align: right; }

.abs-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.abs-center-y {
  position: absolute;
  top: 50%;
  transform: translatey(-50%); }

.scale:hover {
  transform: scale(1.2) translateY(15px); }

.badge {
  position: absolute;
  font-weight: 700;
  font-size: 3.5rem;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
  z-index: 1; }
  .badge-new {
    background-color: rgba(242, 63, 36, 0.6); }
  .badge-top {
    background-color: #F23F24; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn-orange {
  background-color: #F23F24;
  color: #ddd;
  font-size: 1.2rem;
  letter-spacing: 1px; }

.btn-up {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  border-radius: 50%;
  background-color: rgba(240, 46, 28, 0.365);
  text-transform: uppercase;
  text-decoration: none;
  height: 5rem;
  width: 5rem;
  z-index: 5;
  color: #fcfcfc;
  font-weight: bold;
  text-align: center;
  line-height: 3.2;
  transition: all .2s;
  font-size: 1.6rem; }
  .btn-up:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: rgba(240, 46, 28, 0.702); }
  .btn-up:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: rgba(240, 46, 28, 0.8); }

.card {
  background-color: #eee;
  height: auto;
  width: calc(33.3333333% - 3rem);
  margin-top: 5rem;
  word-wrap: break-word;
  position: relative; }
  .card__header {
    height: 30rem;
    overflow: hidden;
    /* Evitez lors du zoom le */
    position: relative; }
    .card__header img {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 1s, filter 0.7s ease-in-out;
      transform-origin: center center;
      filter: brightness(50%); }
      .card__header img:hover {
        cursor: pointer;
        filter: brightness(100%);
        transform: scale(1.3); }
  .card__body {
    background-color: #eee;
    position: relative; }
    .card__body__text {
      text-align: center;
      line-height: 1.7;
      padding: 3rem; }
      .card__body__text h1 {
        color: #323232;
        font-weight: 700;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 800;
        font-family: Montserrat,sans-serif; }
      .card__body__text p {
        padding-top: 2rem;
        color: #666;
        font-size: 1.3rem; }
      .card__body__text-readmore {
        padding-top: 2rem;
        font-size: 1.2rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 800; }
      .card__body__text a {
        text-decoration: none;
        color: #111;
        transition: all .5s; }
        .card__body__text a:hover {
          text-decoration: underline;
          color: #666; }
    .card__body__author {
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      position: absolute;
      top: -2.5rem;
      left: 5%;
      border: 2px solid #eee;
      background-image: url("/img/alex-iby-286943-unsplash.jpg");
      background-size: cover;
      background-position: center; }
      .card__body__author-date-name {
        margin-top: 1rem; }
      .card__body__author-name {
        color: #F23F24;
        font-size: 1.2rem;
        font-weight: bold; }
      .card__body__author-date {
        color: #3b3b3b;
        font-size: 1.2rem;
        font-weight: bold;
        font-style: italic; }
    .card__body__social {
      display: block;
      text-align: center;
      margin-top: 1rem;
      font-size: 1.8rem; }
      .card__body__social a {
        margin-right: 1rem; }
      .card__body__social .fas {
        transition: all .3s;
        color: #222; }
      .card__body__social .fa-heart:hover {
        color: #fa0036; }
      .card__body__social .fa-comment:hover {
        color: #0b7dff; }
      .card__body__social .fa-share:hover {
        color: #0041ce; }
  .card__tag {
    margin: .5rem 0; }
    .card__tag a {
      margin: .5rem;
      padding: .8rem;
      text-transform: uppercase;
      text-decoration: none;
      font-size: .9rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 800;
      background-color: rgba(221, 221, 221, 0.808);
      color: #111;
      border-radius: .6rem;
      transition: all .4s;
      letter-spacing: 0.5px; }
      .card__tag a:hover {
        background-color: #111;
        color: #bbb; }

@media only screen and (max-width: 56.25em) {
  .card {
    width: 100%; } }

.codingscreen {
  background-color: #040608;
  border-radius: .8rem;
  color: #ddd;
  position: relative; }
  .codingscreen-date {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.2rem;
    color: #ddd;
    font-weight: 700; }
  .codingscreen-window {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.2rem;
    color: #ddd; }

.portfolio__composition {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 2.5rem 10rem; }
  .portfolio__composition__draw {
    grid-column: 1 / span 4;
    grid-row: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1.5rem; }
    .portfolio__composition__draw--1 {
      grid-row: 7 / span 1;
      grid-column: 1 / span 1; }
    .portfolio__composition__draw--2 {
      grid-row: 1 / span 2;
      grid-column: 3 / span 2; }
    .portfolio__composition__draw--3 {
      grid-row: 6 / span 2;
      grid-column: 2 / span 3; }
    .portfolio__composition__draw--4 {
      grid-row: 6 / span 1;
      grid-column: 1 / span 1; }
    .portfolio__composition__draw--5 {
      grid-row: 3 / span 3;
      grid-column: 1 / span 2; }
    .portfolio__composition__draw--6 {
      grid-row: 4 / span 2;
      grid-column: 3 / span 2; }
    .portfolio__composition__draw--7 {
      grid-row: 3 / span 1;
      grid-column: 3 / span 2; }
    .portfolio__composition__draw--8 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 2;
      justify-self: center;
      align-self: center; }
      .portfolio__composition__draw--8 h3 {
        color: #F23F24; }
  .portfolio__composition__project {
    grid-column: 5 / span 4;
    grid-row: 1 / span 8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 1.5rem; }
    .portfolio__composition__project--1 {
      grid-row: 3 / span 2;
      grid-column: 3 / span 1; }
    .portfolio__composition__project--2 {
      grid-row: 3 / span 3;
      grid-column: 4 / span 1; }
    .portfolio__composition__project--3 {
      grid-row: 1 / span 2;
      grid-column: 2 / span 1; }
    .portfolio__composition__project--4 {
      grid-row: 1 / span 2;
      grid-column: 3 / span 2; }
    .portfolio__composition__project--5 {
      grid-row: 1 / span 2;
      grid-column: 1 / span 1; }
    .portfolio__composition__project--6 {
      grid-row: 5 / span 3;
      grid-column: 1 / span 3; }
    .portfolio__composition__project--7 {
      grid-row: 6 / span 2;
      grid-column: 4 / span 1; }
    .portfolio__composition__project--8 {
      grid-row: 3 / span 2;
      grid-column: 1 / span 2;
      justify-self: center;
      align-self: center; }
      .portfolio__composition__project--8 h3 {
        color: #fcfcfc;
        padding: 0px 1.1rem;
        background-color: #222;
        border-radius: 1.2rem; }
  .portfolio__composition__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 5px;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    backface-visibility: hidden;
    cursor: pointer; }
    .portfolio__composition__img:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .portfolio__composition__draw:hover .portfolio__composition__img:not(:hover) {
    transform: scale(0.95); }
  .portfolio__composition__project:hover .portfolio__composition__img:not(:hover) {
    transform: scale(0.95); }

.portfolio-main__composition__draw {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 40rem);
  grid-gap: 1.5rem;
  padding: 2.5rem 10rem; }

.portfolio-main__composition__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
  z-index: 10;
  transition: all .2s;
  outline-offset: 2rem;
  backface-visibility: hidden;
  cursor: pointer; }

.footer {
  background-color: #f02e1c;
  grid-column: full-start / full-end;
  padding: 5rem; }

.copyright {
  font-size: 1.4rem;
  color: #222;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 80%; }

.header {
  background-color: #fcfcfc;
  grid-column: full-start / full-end;
  padding: 4rem 0;
  display: grid;
  grid-template-rows: max-content 10rem 1fr max-content;
  grid-row-gap: 2rem;
  justify-items: center;
  align-items: center; }
  .header__title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5rem; }
    .header__title__full {
      font-size: 6rem; }
      .header__title__full--partone {
        color: #F23F24; }
      .header__title__full--parttwo {
        color: #fcfcfc;
        padding: 0px 1.1rem;
        background-color: #222;
        border-radius: 1.2rem; }
    .header__title > a {
      text-decoration: none; }
  .header__body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
    text-align: center;
    padding: 0 2rem;
    margin: 0 auto; }
    .header__body__main-square {
      height: 41rem;
      width: 41rem;
      grid-row: 1 / 3;
      grid-column: 1; }
    .header__body__square {
      height: 20rem;
      width: 20rem; }
    .header__body img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 5px;
      z-index: 10;
      outline-offset: 2rem;
      backface-visibility: hidden;
      cursor: pointer; }

.header-page {
  background-color: #fcfcfc;
  grid-column: full-start / full-end;
  padding: 1rem;
  display: grid;
  grid-template-rows: 10rem;
  grid-template-columns: 20rem 1fr; }
  .header-page__title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.2rem;
    line-height: 1.2;
    grid-row: 1 / 1; }
    .header-page__title__full {
      font-size: 3rem;
      width: auto;
      text-align: center;
      justify-self: flex-start; }
      .header-page__title__full--partone {
        color: #F23F24; }
      .header-page__title__full--parttwo {
        color: #fcfcfc;
        padding: 0px 1.1rem;
        background-color: #222;
        border-radius: 1.2rem; }
    .header-page__title > a {
      text-decoration: none; }

.navigation__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.navigation__item {
  list-style: none;
  padding: 0 1rem; }

.navigation__link {
  text-decoration: none;
  color: #222;
  transition: all .2s; }
  .navigation__link:hover {
    color: #fcfcfc;
    padding: .2rem .4rem;
    background-color: #222;
    border-radius: .6rem; }

.navigation-page {
  grid-row: 1 / 1;
  grid-column: 2 / span 1;
  align-self: center; }
  .navigation-page__list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.20rem;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  .navigation-page__item {
    list-style: none;
    padding: 0 1.5rem; }
  .navigation-page__link {
    text-decoration: none;
    color: #222;
    transition: all .2s; }
    .navigation-page__link:hover {
      color: #fcfcfc;
      padding: .2rem .4rem;
      background-color: #222;
      border-radius: .6rem; }

.navigation__social {
  display: block;
  text-align: center; }
  .navigation__social__link {
    padding: 0 1rem;
    font-size: 3rem;
    color: #222; }
    .navigation__social__link > i {
      transition: all .3s; }
    .navigation__social__link .fa-facebook:hover {
      color: #3B5998; }
    .navigation__social__link .fa-instagram:hover {
      color: #C32AA3; }
    .navigation__social__link .fa-twitter-square:hover {
      color: #1da1f2; }
    .navigation__social__link .fa-discord:hover {
      color: #7289DA; }

.active {
  color: #fcfcfc;
  padding: .2rem .4rem;
  background-color: #222;
  border-radius: .6rem;
  font-weight: bold; }

.slider {
  height: 80rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center; }

.slider__nav {
  width: 12px;
  height: 12px;
  margin: 2rem 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden; }

.slider__nav:checked {
  animation: check 0.4s linear forwards; }

.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%; }

.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%; }

.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%; }

.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%; }

.slider__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 1rem; }

.slider__contents {
  padding: 10rem;
  text-align: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

.slider__box {
  width: 100rem;
  padding: 6.5rem 3rem;
  background-color: #111;
  color: #fcfcfc;
  position: relative; }

.slider__image {
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5rem;
  color: #fcfcfc;
  background-color: #111;
  border-radius: 50%;
  padding: 2rem; }

.slider__caption {
  font-weight: 500;
  font-size: 2.5rem;
  padding-top: 2rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase; }

.slider__txt {
  font-size: 1.7rem;
  padding-top: 5rem; }

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2); }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0); } }

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2); }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0); } }

.thumbnail {
  padding: .4rem;
  line-height: 1.42857143;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #fcfcfc; }

.tbtn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  padding: .8rem 2rem;
  background-color: #FF4A26;
  color: #f7f7f7;
  letter-spacing: 1px;
  border-radius: 1.5rem;
  cursor: pointer;
  margin: .5rem;
  /****** EXTRA *******/
  /***** SIZE *****/ }
  .tbtn:hover {
    background-color: #f02e1c;
    color: #fcfcfc; }
  .tbtn:link, .tbtn:visited {
    text-transform: uppercase;
    text-decoration: none;
    transition: all .2s;
    position: relative; }
  .tbtn--round {
    font-size: 16px;
    padding: 5px 1rem;
    border-radius: 50%; }
  .tbtn--default {
    background-color: #3b3b3b;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #3b3b3b; }
    .tbtn--default:hover {
      background-color: #333;
      border: 2px solid #333; }
  .tbtn-outline--default {
    background-color: #fcfcfc;
    color: #3b3b3b;
    letter-spacing: 1px;
    border: 2px solid #3b3b3b; }
    .tbtn-outline--default:hover {
      background-color: #3b3b3b;
      color: #fcfcfc; }
  .tbtn--primary {
    background-color: #2485e0;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #2485e0; }
    .tbtn--primary:hover {
      background-color: #116cc2;
      border-color: #116cc2; }
  .tbtn-outline--primary {
    background-color: #fcfcfc;
    color: #2485e0;
    letter-spacing: 1px;
    border: 2px solid #2485e0; }
    .tbtn-outline--primary:hover {
      background-color: #2485e0;
      color: #fcfcfc; }
  .tbtn--info {
    background-color: #2fb5da;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #2fb5da; }
    .tbtn--info:hover {
      background-color: #20a4c9;
      border-color: #20a4c9; }
  .tbtn-outline--info {
    background-color: #fcfcfc;
    color: #2fb5da;
    letter-spacing: 1px;
    border: 2px solid #2fb5da; }
    .tbtn-outline--info:hover {
      background-color: #2fb5da;
      color: #fcfcfc; }
  .tbtn--success {
    background-color: #16c98d;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #16c98d; }
    .tbtn--success:hover {
      background-color: #07b67b;
      border-color: #07b67b; }
  .tbtn-outline--success {
    background-color: #fcfcfc;
    color: #16c98d;
    letter-spacing: 1px;
    border: 2px solid #16c98d; }
    .tbtn-outline--success:hover {
      background-color: #16c98d;
      color: #fcfcfc; }
  .tbtn--warning {
    background-color: #fadc55;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #fadc55; }
    .tbtn--warning:hover {
      background-color: #f7d335;
      border-color: #f7d335; }
  .tbtn-outline--warning {
    background-color: #fcfcfc;
    color: #fadc55;
    letter-spacing: 1px;
    border: 2px solid #fadc55; }
    .tbtn-outline--warning:hover {
      background-color: #fadc55;
      color: #fcfcfc; }
  .tbtn--danger {
    background-color: #fa5e5b;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #fa5e5b; }
    .tbtn--danger:hover {
      background-color: #f74744;
      border-color: #f74744; }
  .tbtn-outline--danger {
    background-color: #fcfcfc;
    color: #fa5e5b;
    letter-spacing: 1px;
    border: 2px solid #fa5e5b; }
    .tbtn-outline--danger:hover {
      background-color: #fa5e5b;
      color: #fcfcfc; }
  .tbtn--neutral {
    background-color: #fff;
    color: #66615b;
    letter-spacing: 1px;
    border: 2px solid #fff; }
    .tbtn--neutral:hover {
      background-color: #fff;
      color: #403d39;
      border-color: #fff; }
  .tbtn--red {
    background-color: #E74C3C;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #E74C3C; }
    .tbtn--red:hover {
      background-color: #C0392B;
      border: 2px solid #C0392B; }
  .tbtn-outline--red {
    background-color: #fcfcfc;
    color: #E74C3C;
    letter-spacing: 1px;
    border: 2px solid #E74C3C; }
    .tbtn-outline--red:hover {
      background-color: #E74C3C;
      color: #fcfcfc; }
  .tbtn--orange {
    background-color: #fc7f2d;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #fc7f2d; }
    .tbtn--orange:hover {
      background-color: #D35400;
      border: 2px solid #D35400; }
  .tbtn-outline--orange {
    background-color: #fcfcfc;
    color: #fc7f2d;
    letter-spacing: 1px;
    border: 2px solid #fc7f2d; }
    .tbtn-outline--orange:hover {
      background-color: #fc7f2d;
      color: #fcfcfc; }
  .tbtn--yellow {
    background-color: #ffca39;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #ffca39; }
    .tbtn--yellow:hover {
      background-color: #F39C12;
      border: 2px solid #F39C12; }
  .tbtn-outline--yellow {
    background-color: #fcfcfc;
    color: #ffca39;
    letter-spacing: 1px;
    border: 2px solid #ffca39; }
    .tbtn-outline--yellow:hover {
      background-color: #ffca39;
      color: #fcfcfc; }
  .tbtn--emerald {
    background-color: #2ECC71;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #2ECC71; }
    .tbtn--emerald:hover {
      background-color: #27AE60;
      border: 2px solid #27AE60; }
  .tbtn-outline--emerald {
    background-color: #fcfcfc;
    color: #2ECC71;
    letter-spacing: 1px;
    border: 2px solid #2ECC71; }
    .tbtn-outline--emerald:hover {
      background-color: #2ECC71;
      color: #fcfcfc; }
  .tbtn--turquoise {
    background-color: #1ABC9C;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #1ABC9C; }
    .tbtn--turquoise:hover {
      background-color: #16A085;
      border: 2px solid #16A085; }
  .tbtn-outline--turquoise {
    background-color: #fcfcfc;
    color: #1ABC9C;
    letter-spacing: 1px;
    border: 2px solid #1ABC9C; }
    .tbtn-outline--turquoise:hover {
      background-color: #1ABC9C;
      color: #fcfcfc; }
  .tbtn--blue {
    background-color: #3498DB;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #3498DB; }
    .tbtn--blue:hover {
      background-color: #2980B9;
      border: 2px solid #2980B9; }
  .tbtn-outline--blue {
    background-color: #fcfcfc;
    color: #3498DB;
    letter-spacing: 1px;
    border: 2px solid #3498DB; }
    .tbtn-outline--blue:hover {
      background-color: #3498DB;
      color: #fcfcfc; }
  .tbtn--amethyst {
    background-color: #9B59B6;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #9B59B6; }
    .tbtn--amethyst:hover {
      background-color: #8E44AD;
      border: 2px solid #8E44AD; }
  .tbtn-outline--amethyst {
    background-color: #fcfcfc;
    color: #9B59B6;
    letter-spacing: 1px;
    border: 2px solid #9B59B6; }
    .tbtn-outline--amethyst:hover {
      background-color: #9B59B6;
      color: #fcfcfc; }
  .tbtn--midnight {
    background-color: #34495E;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #34495E; }
    .tbtn--midnight:hover {
      background-color: #2C3E50;
      border: 2px solid #2C3E50; }
  .tbtn-outline--midnight {
    background-color: #fcfcfc;
    color: #34495E;
    letter-spacing: 1px;
    border: 2px solid #34495E; }
    .tbtn-outline--midnight:hover {
      background-color: #34495E;
      color: #fcfcfc; }
  .tbtn--silver {
    background-color: #ECF0F1;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #ECF0F1; }
    .tbtn--silver:hover {
      background-color: #BDC3C7;
      border: 2px solid #BDC3C7; }
  .tbtn-outline--silver {
    background-color: #fcfcfc;
    color: #ECF0F1;
    letter-spacing: 1px;
    border: 2px solid #ECF0F1; }
    .tbtn-outline--silver:hover {
      background-color: #ECF0F1;
      color: #fcfcfc; }
  .tbtn--grey {
    background-color: #95A5A6;
    color: #fff;
    letter-spacing: 1px;
    border: 2px solid #95A5A6; }
    .tbtn--grey:hover {
      background-color: #7F8C8D;
      border: 2px solid #7F8C8D; }
  .tbtn-outline--grey {
    background-color: #fcfcfc;
    color: #95A5A6;
    letter-spacing: 1px;
    border: 2px solid #95A5A6; }
    .tbtn-outline--grey:hover {
      background-color: #95A5A6;
      color: #fcfcfc; }
  .tbtn-link {
    padding: 7px 18px; }
    .tbtn-link--default {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #3b3b3b; }
      .tbtn-link--default:hover {
        color: #333; }
    .tbtn-link--primary {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #2485e0; }
      .tbtn-link--primary:hover {
        color: #116cc2; }
    .tbtn-link--info {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #2fb5da; }
      .tbtn-link--info:hover {
        color: #20a4c9; }
    .tbtn-link--success {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #16c98d; }
      .tbtn-link--success:hover {
        color: #07b67b; }
    .tbtn-link--warning {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #fadc55; }
      .tbtn-link--warning:hover {
        color: #f7d335; }
    .tbtn-link--danger {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #fa5e5b; }
      .tbtn-link--danger:hover {
        color: #f74744; }
    .tbtn-link--neutral {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #66615b; }
      .tbtn-link--neutral:hover {
        color: #403d39; }
    .tbtn-link--red {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #E74C3C; }
      .tbtn-link--red:hover {
        color: #C0392B; }
    .tbtn-link--orange {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #fc7f2d; }
      .tbtn-link--orange:hover {
        color: #D35400; }
    .tbtn-link--yellow {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #ffca39; }
      .tbtn-link--yellow:hover {
        color: #F39C12; }
    .tbtn-link--emerald {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #2ECC71; }
      .tbtn-link--emerald:hover {
        color: #27AE60; }
    .tbtn-link--turquoise {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #1ABC9C; }
      .tbtn-link--turquoise:hover {
        color: #16A085; }
    .tbtn-link--blue {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #3498DB; }
      .tbtn-link--blue:hover {
        color: #2980B9; }
    .tbtn-link--amethyst {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #9B59B6; }
      .tbtn-link--amethyst:hover {
        color: #8E44AD; }
    .tbtn-link--midnight {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #34495E; }
      .tbtn-link--midnight:hover {
        color: #2C3E50; }
    .tbtn-link--silver {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #ECF0F1; }
      .tbtn-link--silver:hover {
        color: #BDC3C7; }
    .tbtn-link--grey {
      border-color: transparent !important;
      background-color: transparent !important;
      color: #95A5A6; }
      .tbtn-link--grey:hover {
        color: #7F8C8D; }
  .tbtn--tiny {
    line-height: 1;
    font-size: 0.5rem;
    padding: .5em 1rem; }
  .tbtn--small {
    line-height: 1.3;
    font-size: 1.2rem;
    padding: .6rem 2rem;
    border-radius: 1.5rem; }
  .tbtn--big {
    line-height: 2;
    font-size: 1.5rem;
    padding: .8rem 5rem;
    border-radius: 1.5rem; }

.container-components {
  background-color: #f7f7f7;
  grid-column: full-start / full-end;
  padding: 2rem 0; }
  .container-components__buttons {
    width: 114rem;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center; }

.components__heading {
  display: block;
  text-align: center; }

.description {
  grid-column: full-start / full-end;
  padding: 5rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url("/img/sebastian-bednarek-624108-unsplash.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative; }
  .description__heading {
    display: block;
    text-align: center; }
  .description__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 10rem; }
  .description__item {
    display: grid;
    grid-template-rows: repeat(3, min-content);
    justify-items: center;
    text-align: center; }
    .description__item i {
      color: #eee;
      font-size: 4rem;
      padding-top: 1rem;
      transition: all .3s; }
    .description__item .fa-pencil-ruler {
      color: rgba(185, 129, 92, 0.5);
      font-size: 4rem;
      padding-top: 1rem; }
      .description__item .fa-pencil-ruler:hover {
        color: #b9815c; }
    .description__item .fa-code {
      color: rgba(12, 93, 168, 0.5);
      font-size: 4rem;
      padding-top: 1rem; }
      .description__item .fa-code:hover {
        color: #0c5da8; }
    .description__item .fa-route {
      color: rgba(27, 168, 74, 0.5);
      font-size: 4rem;
      padding-top: 1rem; }
      .description__item .fa-route:hover {
        color: #1ba84a; }
    .description__item h3 {
      margin-top: 2rem;
      color: #eee;
      font-size: 2.8rem; }
    .description__item p {
      margin-top: 2rem;
      color: #eee;
      font-size: 1.6rem; }

.aboutme {
  background-color: #fcfcfc;
  grid-column: full-start / full-end;
  padding: 3rem 0; }
  .aboutme__heading {
    display: block;
    text-align: center; }
  .aboutme__container {
    position: relative;
    margin: 1rem auto;
    padding: 1rem;
    width: 70%;
    height: 80%;
    background-color: #fcfcfc;
    box-shadow: 10px 10px 48px -20px rgba(0, 0, 0, 0.75);
    text-align: center; }
  .aboutme__item {
    margin-top: 1rem; }
    .aboutme__item--comp {
      color: #111; }

.blog {
  grid-column: full-start / full-end;
  padding: 3rem 0;
  background-color: #111; }
  .blog__heading {
    display: block;
    text-align: center; }
  .blog__flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 0 20rem; }
  @media only screen and (max-width: 56.25em) {
    .blog__flex-container {
      flex-direction: column;
      padding: 0 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .blog__flex-container {
      flex-direction: column;
      padding: 0 5rem; } }
  @media only screen and (max-width: 31.25em) {
    .blog__flex-container {
      flex-direction: column;
      padding: 0 2rem; } }
  .blog__btn {
    text-align: center;
    margin-top: 5rem; }

.portfolio {
  background-color: #eee;
  grid-column: full-start / full-end;
  padding: 3rem 0; }
  .portfolio__heading {
    display: block;
    text-align: center; }
  .portfolio__btn {
    text-align: center; }

.portfolio-main {
  background-color: #f7f7f7;
  grid-column: full-start / full-end;
  padding: 2rem 0; }
