
// ************NOMBLOG**************//

$drawcode : "drawcode";

// ***********COLOR*********** //

// ORANGE //
$color-primary-light: #FF4A26;
$color-primary-light-1: #F24624;
$color-primary: #F23F24; //#FF3826
$color-primary-dark: #f53321;
$color-primary-dark-1: #f02e1c;

// WHITE - BLACK //

$color-white-alt: #F8F9F0;
$color-white-alt-2: #F8F9F1;

$color-black-alt: #2A2E30;
$color-black-alt-1: #171A1B;


$color-white :#fff;
$color-white-1 :#fcfcfc;
$color-white-2 :#f7f7f7;
$color-white-3 :#ddd;
$color-black : #000;
$color-black-1 : #111;
$color-black-2 : #222;
$color-black-3 : #333;
$color-gray: #777;

// BTN-UP

$color-red : #ff0000;

// SOCIAL

$color-facebook : #3B5998;
$color-instagram : #C32AA3;
$color-twitter : #1da1f2;
$color-discord : #7289DA;

// SECTION

// ***********FONT-SIZE*********** //

$default-font-size: 1.6rem;
$font-size-tiny: 0.5rem;
$font-size-small: 1rem;
$font-size-big: 1.5rem;
$font-size-huge: 2rem;

// ***********SCREEN*********** //

$bp-largest: 75em; // 1200px / 16
$bp-large: 68.75em;  // 1100px
$bp-medium: 56.25em;  // 900px
$bp-small: 37.5em;  // 600px
$bp-smallest: 31.25em;  // 500px