.header {
    background-color: $color-white-1;
    grid-column: full-start / full-end;
    padding: 4rem 0;

    //GRID HEADER
    display: grid;
    grid-template-rows: max-content 10rem 1fr max-content;
    grid-row-gap: 2rem;
    justify-items: center;
    align-items: center;
    //

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.5rem;
        //display: block;
        //text-align: center;

        &__full {
            font-size: 6rem;

            &--partone {
                color: $color-primary;
            }

            &--parttwo {
                color: $color-white-1;
                padding: 0px 1.1rem;
                background-color: $color-black-2;
                border-radius: 1.2rem;
            }
        }

        > a {
            text-decoration: none;
        }
    }

    &__body {

        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
        text-align: center;
        padding: 0 2rem;
        margin: 0 auto;

        &__main-square {
            height: 41rem;
            width: 41rem;
            grid-row: 1 / 3;
            grid-column: 1;
        }

        &__square {
            height: 20rem;
            width: 20rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 5px;
            z-index: 10;
            outline-offset: 2rem;
            backface-visibility: hidden;
            cursor: pointer;
        }
    }
    // &__btn {
    //     display: block;
    //     text-align: center;
    // }
}

.header-page {
    background-color: $color-white-1;
    grid-column: full-start / full-end;
    padding: 1rem;

    //GRID HEADER
    display: grid;
    grid-template-rows: 10rem;
    grid-template-columns: 20rem 1fr;
    // justify-items: center;
    // align-items: center;
    //

    &__title {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.2rem;
        line-height: 1.2;
        grid-row: 1 / 1;
        
        //display: block;
        //text-align: center;

        &__full {
            font-size: 3rem;
            width: auto;
            text-align: center;
            justify-self: flex-start;

            &--partone {
                color: $color-primary;
            }

            &--parttwo {
                color: $color-white-1;
                padding: 0px 1.1rem;
                background-color: $color-black-2;
                border-radius: 1.2rem;
            }
        }

        > a {
            text-decoration: none;
        }
    }
}