.badge {
    position: absolute;
    font-weight: 700;
    font-size: 3.5rem;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    &-new {
        background-color: rgba($color-primary, .6);
        
    }

    &-top {
        background-color: $color-primary;
    }

}