.pagination {

    display: flex;
    justify-content: center;
    margin : 5rem auto;
    
    //overflow: hidden;

    &__item {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: $color-primary-dark-1;
        border: 2px solid $color-primary-dark-1;
        font-size: $default-font-size;
        padding: 6px 1.2rem;
        border-radius: 1.8rem;
        margin-left: 1rem;
        line-height: 1.35;
        font-weight: 700;
        transition: all .2s;

        .fas  {
            transition: all .2s; 
        }


        &--active {
            background-color: $color-primary-dark-1;
            color: $color-white-1;
        }

        &:hover {
            background-color: $color-primary-dark-1;
            color: $color-white-1;
            
            .fa-angle-double-left  {
                transform: translateX(-5px);
            }

            .fa-angle-double-right {
                transform: translateX(5px);
            }
        }
    }
}