*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 100% = 16px, 62.5% = 10px
}

body {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: min-content min-content repeat(4, max-content);
    grid-template-columns: [full-start] 10rem [center-start] repeat(3, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end] 10rem [full-end];
}

.container-page {
    display: grid;
    grid-template-rows: 10rem repeat(2, max-content); 
    grid-template-columns: [full-start] 10rem [center-start] repeat(3, [col-start] minmax(min-content, 1fr) [col-end] ) [center-end] 10rem [full-end];
}

%row {
    width: 80%;
    margin: 0 auto;
    // background-color: $color-white;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid rgba($color-gray-3, .1);
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.row { 
    @extend %row;
    grid-template-columns: 15rem repeat(2,1fr);
    background-color: rgba($color-white-1, .5);
    
}

.row-reverse {
    @extend %row;
    grid-template-columns: repeat(2,1fr) 15rem;
    background-color: rgba($color-white-1, .7);
}
