.portfolio-main {
    // background-color: $color-white-2;
    background-image: url('../../complete-javascript-course-master-capture/bg-pattern.jpg');
    background-repeat: repeat;
    // background-size: cover;
    grid-column: full-start / full-end;

    &__tag-filter, &__tag-displayall {
        display: flex;
        justify-content: center;
        font-size: $font-size-big;
        text-transform: uppercase;
    }

    &__img {
        height: 30rem;
        width: 50rem;
        
    }

    &__description {
        padding: 1.5rem;
        border-left: 1px solid rgba($color-gray-3, .1);
        border-right: 1px solid rgba($color-gray-3, .1);
    }

    &__date {
        
    }
}